<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<link rel="stylesheet" type="text/css" href="./../style.css" />

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Artiste</h1>

<f:flashMessages />

<style>
	
</style>

<table class="table" >
	<tr>
		<th><f:translate key="tx_expositionagnm_domain_model_artiste.photo" /></th>
		<th><f:translate key="tx_expositionagnm_domain_model_artiste.nom" /></th>
		<th><f:translate key="tx_expositionagnm_domain_model_artiste.biographie" /></th>
		<th><f:translate key="tx_expositionagnm_domain_model_artiste.date_naissance" /></th>
		<th><f:translate key="tx_expositionagnm_domain_model_artiste.date_deces" /></th>
		<th><f:translate key="tx_expositionagnm_domain_model_artiste.influences" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{artistes}" as="artiste">
		<tr>
			<td><f:link.action action="show" arguments="{artiste : artiste}"> <f:image style="max-width:300px;max-height:300px;" src="{artiste.photo.originalResource.publicUrl}" /></f:link.action></td>
			<td><f:link.action action="show" arguments="{artiste : artiste}"> {artiste.nom}</f:link.action></td>
			<td><f:link.action action="show" arguments="{artiste : artiste}"> {artiste.biographie}</f:link.action></td>
			<td><f:link.action action="show" arguments="{artiste : artiste}"> {artiste.dateNaissance -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{artiste : artiste}"> {artiste.dateDeces -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{artiste : artiste}"> {artiste.influences}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{artiste : artiste}" class="btn btn-warning">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{artiste : artiste}" class="btn btn-danger">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>



<div class="artist-list">
	<f:for each="{artistes}" as="artiste">
			<f:link.action action="show" arguments="{artiste : artiste}"> 
				<f:image style="width:150px;height:200px;" src="{artiste.photo.originalResource.publicUrl}" />
			</f:link.action>

			<div class="txt">
				<p>{artiste.nom}</p>
				<p>Détails</p>
			</div>

			<f:for each="{artiste.oeuvres}" as="oeuvre">
				<p>{oeuvre.intitule}</p>
			</f:for>
	</f:for>
</div>

<f:link.action class="btn btn-primary" action="new">New Artiste</f:link.action>
</f:section>
</html>